# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.sdf
*.opensdf
*.obj
*.tlog
*.pdb
*.lastbuildstate
*.lib
*.dll
*.exe
*.cache
*.res
*.pch
*.exp
*.manifest
*.idb
*manifest.rc
*.ilk
